@model List<WebDoMyPham.Models.CartItem>
@{
    ViewBag.Title = "Thanh Toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal TongTien = 0;
}


<body>
    <div class="content_top">
        <div class="back-links">
            <p style="width:120px; height:16px"><a href="/Home/Index">Home</a>>>>> <a href="">Thanh Toán</a></p>
        </div>
        <div class="clear"></div>
    </div>



    <div class="card-body">
        @if (Model != null && Model.Count > 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" style="width:100%" cellspacing="0">
                    <thead>
                        <tr>
                            <td>Hình</td>
                            <td>Tên Sản Phẩm</td>
                            <td>Đơn Vị</td>
                            <td>Số Lượng</td>
                            <td>Đơn Giá</td>
                            <td>Tổng Cộng</td>
                            <th>Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th><img src="@item.Product.Image" style="width:64px; height:64px"></th>
                                <th>@Html.DisplayFor(modelItem => item.Product.ProductName)</th>
                                <th>@Html.DisplayFor(modelItem => item.Product.Measure)</th>
                                <th>
                                    <input type="text" class="txtQuantity" data-id="@item.Product.ProductID" value="@item.Quantity" />
                                    <span class="input-group-btn">
                                        <button id="" type="submit" data-toggle="tooltrip" class="btn btn-primary btnUpdate">
                                            <i class="fa fa-refresh"></i>
                                        </button>
                                    </span>
                                </th>
                                @if (item.Product.PromotionPrice.HasValue)
                                {
                                    TongTien = item.Quantity * item.Product.PromotionPrice.Value;
                                    <th>@item.Product.PromotionPrice.Value.ToString("N0")</th>
                                    <th>@(item.Product.PromotionPrice.Value * item.Quantity)</th>



                                }
                                else
                                {
                                    TongTien = item.Quantity * item.Product.Price.Value;
                                    <th> @item.Product.Price.Value.ToString("N0") </th>
                                    <th>@(item.Product.Price.Value * item.Quantity) </th>



                                }
                                <td>
                                    <button type="button" data-toggle="tooltrip" class="btn btn-danger btnDelete" data-id="@item.Product.ProductID">
                                        <i class="fa fa-times-circle"></i>
                                    </button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        }
        <div class="section group">
            <div class="col-md-6">
                @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>Người nhận</label>
                        <input name="receiver" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input name="address" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input name="phone" class="form-control" />
                    </div>
                    <button type="submit" class="btn">Gửi đơn hàng</button>
                }
            </div>
        </div>

    </div>
</body>