@model WebDoMyPham.DataBase.EF.Product

@{
    ViewBag.Title = "Detail";
    var listRelateProduct = (List<WebDoMyPham.DataBase.EF.Product>)ViewBag.ListRelateProduct;
}

<div class="content">
    <div class="content_top">
        <div class="back-links">
            <p><a href="index.html">Home</a> >>>> <a href="#">@Model.ProductCategory.CategoryName</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="product-details">
                <div class="grid images_3_of_2">
                    <div id="container">
                        <div id="products_example">
                            <div id="products">
                                <div class="slides_container">
                                    <a href="#" target="_blank"><img src="images/productslide-1.jpg" alt=" " /></a>
                                    <a href="#" target="_blank"><img src="images/productslide-2.jpg" alt=" " /></a>
                                    <a href="#" target="_blank"><img src="images/productslide-3.jpg" alt=" " /></a>
                                    <a href="#" target="_blank"><img src="images/productslide-4.jpg" alt=" " /></a>
                                    <a href="#" target="_blank"><img src="images/productslide-5.jpg" alt=" " /></a>
                                    <a href="#" target="_blank"><img src="images/productslide-6.jpg" alt=" " /></a>
                                </div>
                                <ul class="pagination">
                                    <li><a href="#"><img src="images/thumbnailslide-1.jpg" alt=" " /></a></li>
                                    <li><a href="#"><img src="images/thumbnailslide-2.jpg" alt=" " /></a></li>
                                    <li><a href="#"><img src="images/thumbnailslide-3.jpg" alt=" " /></a></li>
                                    <li><a href="#"><img src="images/thumbnailslide-4.jpg" alt=" " /></a></li>
                                    <li><a href="#"><img src="images/thumbnailslide-5.jpg" alt=" " /></a></li>
                                    <li><a href="#"><img src="images/thumbnailslide-6.jpg" alt=" " /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc span_3_of_2">
                    <h2>@Model.ProductName </h2>
                    @Html.Raw(Model.Description)
                    <div class="price">
                        <p>Price: <span>@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên Hệ")</span></p>
                    </div>
                    <div class="available">
                        <p>Available Options :</p>
                        <ul>
                            <li>
                                Quality:<select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="share-desc">
                        <div class="share">
                            <p>Share Product :</p>
                            <ul>
                                <li><a href="#"><img src="images/facebook.png" alt="" /></a></li>
                                <li><a href="#"><img src="images/twitter.png" alt="" /></a></li>
                            </ul>
                        </div>
                        <div class="button"><span><a href="#">Thêm Vào Giỏ</a></span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="wish-list">
                        <ul>
                            <li class="wish"><a href="#">Thêm Yêu Thích</a></li>
                            <li class="compare"><a href="#">So Sánh</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="product_desc">
                <div id="horizontalTab">
                    <ul class="resp-tabs-list">
                        <li>Chi Tiết Sản Phẩm</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="resp-tabs-container">
                        <div class="product-desc">
                            @Html.Raw(Model.Content)
                        </div>

                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#horizontalTab').easyResponsiveTabs({
                        type: 'default', //Types: default, vertical, accordion
                        width: 'auto', //auto or any width like 600px
                        fit: true   // 100% fit in a container
                    });
                });
            </script>
            <div class="content_bottom">
                <div class="heading">
                    <h3>Sản Phẩm Liên Quan</h3>
                </div>
                <div class="see">
                    <p><a href="#">See all Products</a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section group">
                @foreach (var item in listRelateProduct)
                {
                    var url = "/productdetail/" + item.ProductID;
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="@url"><img src="@item.Image" alt="@item.ProductName"></a>
                        <div class="price" style="border:none">
                            <div class="add-cart" style="float:none">
                                <h4><a href="#">Thêm Vào Giỏ</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                }


            </div>
        </div>
        <div class="rightsidebar span_3_of_1">
            <h2>CATEGORIES</h2>
            @{ Html.RenderAction("ProductCategory", "Product");}
        </div>
    </div>
</div>

