@model List<WebDoMyPham.DataBase.EF.Product>
@{
    ViewBag.Title = "DetailCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Category = (WebDoMyPham.DataBase.EF.ProductCategory)ViewBag.Category;
    int count = Model.Count;
}

<html>
<head>


</head>
<body>
    <div class="content_top">
        <div class="back-links">
            <p style="width:120px; height:16px"><a href="/Home/Index">Home </a>>>>> <a href="">@Category.CategoryName</a></p>
        </div>
        <div class="clear"></div>
    </div>
    @for (int i = 0; i < (Model.Count / 4 + 1); ++i)
    {
        <div class="section group">
            @for (int j = 0; j < (count > 4 ? 4 : count); ++j)
            {
                var url = "/productdetail/" + Model[j].ProductID;
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="@url"><img src="@Model[j].Image" alt="@Model[j].ProductName" /></a>
                    <h2>@Model[j].ProductName </h2>
                    <div class="price-details">
                        <div class="price-number">
                            <p style="width:200px"><span class="rupees">@Model[j].Price</span></p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="preview.html">Thêm Vào Giỏ</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            }
            @{ count = count - 4;}


        </div>
    }
    <!--Phân trang-->
    @if (ViewBag.TotalPage >= 1)
    {
        var pageDisplay = (int)ViewBag.MaxPage;
        int totalPage = (int)ViewBag.TotalPage;
        int currentPage = ((int)ViewBag.Page);

        // Create numeric links
        var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
        var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

        var link = "/categorydetail/" + Category.CategoryID;
        <nav>
            <ul class="pagination justify-content-end">
                @if (currentPage > ViewBag.First)
                {
                    <li class="page-item">
                        <a class="page-link" href="@link?page=@ViewBag.First">|<<</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@link?page=@ViewBag.Prev"><</a>
                    </li>
                    @*<li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>*@


                }
                @for (int i = startPageIndex; i <= endPageIndex; i++)
                {
                    if (currentPage == i)
                    {
                        <li class="page-item active">
                            <span class="page-link">
                                @i
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        @*<li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>*@
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="@link?page=@i">@i</a></li>
                        @*<li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>*@
                    }
                }
                @if (currentPage < totalPage)
                {
                    @*<li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                        <li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>*@

                    <li class="page-item">
                        <a class="page-link" href="@link?page=@ViewBag.Next">></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@link?page=@ViewBag.Last">>>|</a>
                    </li>
                }

            </ul>
        </nav>

    }
    else
    {
        <span>Không có bản ghi nào</span>
    }

</body>



</html>








